<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Adel Moussa</title>
    <link rel="stylesheet" href="./css/style.css">
    
    
    <!-- fonts -->
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@200&display=swap" rel="stylesheet"> 
    
    
</head>

<body>

    <!-- nav -->
    <header>
        <nav class="nav">
            <ul class="nav__list">
                <li>*Blog</li>
                <li class="nav__item"><a href="\index.html" class="nav__link">Home</a></li>
                

                
            </ul>
        </nav>
    </header>

<h1 class="welcome__title">beep beep boop boop</h1>

<div class = "about">{{ blogs }}</div>
</body>
</html>
